dotenv "/Users/campbel/src/github.com/GetDutchie/aoc/dec-3/.bolt/.env"
PATH_add "/Users/campbel/bolt/uv/0.4.29/uv-aarch64-apple-darwin"
PATH_add "/Users/campbel/src/github.com/GetDutchie/aoc/dec-3/.bolt/bin"
